@import "common.less";

/* 网页主体模块*/

.lt_container {
    height: 100%;
    position: relative; //给父盒子加相对定位
    /* 轮播图*/
    .lt_carousel {}
    /*网页主体内容*/
    .lt_content {
        padding: 0 5px;
        .lt_nav {
            padding: 5px 0;
            >a {
                float: left;
                width: 33.33%;
                >img {
                    //图片初始化代码  
                    display: block; //清除图片默认3px间距
                    width: 100%;
                }
            }
        }
        /*广告*/
        .lt_adv {
            border-top: 1px solid #000;
            >a:nth-child(1) {
                float: left;
                width: 67%;
                >img {
                    display: block;
                    width: 50%; //由两张图片合成一张各占50%
                    float: left;
                }
            }
            >a:nth-child(2) {
                float: right;
                width: 33%;
                >img {
                    display: block;
                    width: 100%;
                }
            }
            >a:nth-child(3) {
                float: left;
                width: 67%;
                >img {
                    display: block;
                    width: 50%; //由两张图片合成一张各占50%
                    float: left;
                }
            }
        }
        /* 商品列表*/
        .lt_goods_list {
            .lt_brand {
                >img {
                    display: block;
                    width: 100%;
                }
                >ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    box-sizing: border-box;
                    li {
                        float: left;
                        width: 25%;
                        a {
                            img {
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            /* 运动生活专区*/
            .lt_sport {
                >img {
                    display: block;
                    width: 100%;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    background-color: #fff;
                    li {
                        float: left;
                        width: 50%;
                        padding: 2px;
                        text-align: center;
                        .lt_item {
                            border: 1px solid #ccc;
                            padding: 1px 5px 10px;
                            >img {
                                display: block;
                                width: 100%;
                            }
                            >.product_info {
                                font-size: 14px;
                                color: #666;
                                height: 40px;
                                overflow: hidden;
                            }
                            p {
                                .new_price {
                                    color: red;
                                }
                                .old_price {
                                    color: #666;
                                    color: #666;
                                    text-decoration: line-through;
                                }
                            }
                            a {
                                background-color: @mainColor;
                                color: #fff;
                                padding: 8px 12px;
                                font-size: 14px;
                                border-radius: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}

